.header {
  margin: 0 auto;
  width: 1000px;
}

.group {
  width: 100%;
  display: inline-block;
  background-color: #fb5555;
  color: white;
}

.group-title {
  margin-right: auto;
  width: 300px;
}

.group-nav {
  width: 700px;
  float: right!important;
  display: flex;
}

ul{
  list-style:none;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  float: left;
  padding: 18px 14px;
  margin: 0;
  font-size:17px;
  font-weight: 700;
  border: 1px solid transparent;
  border-top: 3px solid transparent;
  cursor: pointer;
}

.group a {
  text-decoration: none;
  color: white;
}

.ps_box {
  margin-top: 10px;
  display: block;
  position: relative;
  width: 100%;
  height: 51px;
  border: solid 1px #dadada;
  padding: 10px 14px 10px 14px;
  background: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.btn {
  margin: 30px 0 9px;
}

.btn_type {
  display: block;
  width: 100%;
  padding: 21px 0 17px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  background-color: #fb5555;
}

.img-box{
  width: auto;
  height: 300px;
}

img {
  display: block;
  margin: 0 auto;
  width: 100%; 
  height: 100%;
}

/* myinfo css */
#container {
  position: relative;
  z-index: 20;
  max-width: 954px;
  margin: 0 auto;
  margin-top: 50px;
}

#content {
  position: relative;
  line-height: 14px;
  zoom: 1;
  padding: 16px 12px 94px;
}

.column {
  float: left;
  width: 50%;
}

.sh_group {
  min-height: 185px;
  margin: 16px 8px 0;
  padding: 32px 29px 30px;
  text-align: left;
  border: 1px solid #dadada;
  border-radius: 15px;
  background: #fff;
}

.sh_header {
  position: relative;
}

.sh_lst {
  position: relative;
  min-height: 80px;
  margin-top: -1px;
  padding-bottom: 8px;
}

dl {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 20px;
  margin-inline-end: 0px;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.sh_lst dt {
  font-size: 15px;
  font-weight: 700;
  float: left;
  color: #333;
}

dt {
  display: block;
}

.sh_lst .pic_desc {
  position: absolute;
  top: 3px;
  left: 100;
  width: 80px;
}

.sh_lst .intro_desc {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  padding: 15px 0 0 40%;
  color: #666;
}
                
.nic_tit {
}

.nic_desc {
  font-size: 15px;
  line-height: 21px;
  margin-top: 8px;
  letter-spacing: -1px;
  color: #666;
}

.sh_lst2 {
  overflow: hidden;
  padding-top: 3px;
}

.sh_lst2 dt {
  font-size: 15px;
  font-weight: 700;
  color: #333;
}

.sh_lst2 dd {
  margin-top: 7px;
  margin-bottom: 1em;
  font-size: 15px;
  line-height: 21px;
  margin-top: 8px;
  letter-spacing: -1px;
  color: #666;
}


/* Board css */
a {
  text-decoration: none;
  color: black;
}